.board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;

	.card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
